
* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Geist;
    src: url("../assets/fonts/Geist\ Mono/GeistMono-Light.otf");
}

body {
    min-height: 4681px;
}

.header {
    min-height:178px;
    padding:25px;

}

.header__info {
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    min-height: 26px;
    padding:10px 40px 25px 40px;
}

.header__info-mobile {
    margin: 0 0 0 10px;
    font-family: Geist;
    color: #CAD4C4;
}

.header__info-lang {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
    gap:10px;
    list-style-type: none;
    align-items: center;
}

.header__info-lang li {
    padding-right: 25px;
    margin-right: 5px;
    color: #CAD4C4;
}

.header__info-lang li:not(:last-of-type) {
    border-right: 1px solid #CAD4C4;
}

.header__navigate {
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 12.5px 49px 12.5px 44px;
    /* margin: 5px;
    padding: 10px 40px 25px 40px; */
}


.navigate__label {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px -50px;
}

.label {
    background-image: url("../assets/img/logo-1637743798\ 1.png  ");
    background-size: contain;
    min-width: 133px;
    min-height: 50.28px;
    margin-left: 55px;
}

.navigate__search {
    min-width: 400px;
    min-height: 43px;
    border: 0px 1px 0px 0px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0 0 0 256px;
}

.navigate__search input {
    min-width: 400px;
    border: 1px solid #E5E9E2;
}

#search::-webkit-input-placeholder {
    color:#A8B79E;
    text-align: start;
    font-family: Geist;
    font-size: 14px;
    font-weight: 84;
    line-height: 18px;
    letter-spacing: 0em;
    position: relative;
    left: 30px;
}

.abc {
    position: relative;
    z-index: 1;
    left: 20px;
    color:  #A8B79E;
}


/* .label:empty {none} */

.navigate__icons {
    min-width: 400px;
    min-height: 28px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10px;
}

.icons-bag {
    background-image: url("../assets/img/bag-shopping.png");
    background-size: cover;
    width: 18.67px;
    height: 21px;
    top: 3.5px;
    left: 4.67px;
    border: 2px;
}

.icons-heart {
    background-image: url("../assets/img/heart.png");
    background-size: cover;
    width: 21px;
    height: 18.63px;
    top: 4.7px;
    left: 3.5px;
    border: 2px;
}

.icons-user {
    background-image: url("../assets/img/user-alt-1.png");
    background-size: cover;
    width: 16.33px;
    height: 21px;
    top: 3.5px;
    left: 5.83px;
    border: 2px;
}

/* ul{
    font-size:0;
    }



ul li{
    font-size:14px;
    width:20%;
    margin:0;
    padding:0;
} */

.header__links {
    min-height: 67px;
    min-width: 1200px;
    padding: 6px 1px 12px 0px;
    border-radius: 7px;
    background-color: #F2F4F0;
    margin-right: 41px;
    /* 55 */
    margin-left: 43px;
    /* 46 */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.links {
    margin: 2px;
    padding: 4px;
    list-style-type: none;
    display: inline-block;
}

.links > li {
    display:inline-block;
    margin: 1px 1px 1px -6px;
}

.links-img {
    background-image: url("../assets/img//header__links/Frame\ \(1\).png");
    min-width: 20px;
    min-height: 20px;

}

.links-title {
    width: 233.6px;
    height: 20px;
    font-family: Geist;
    font-size: 16px;
    font-weight: 84;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}



/* content */

.main {
    min-width: 1200px;
    padding:50px;
    top: 194px;
    left: 40px;
}
.main__content-lead {
    min-width: 1200px;
    min-height: 622px;
    margin-right: 25px;
    margin-left:25px;
    background-image: url("../assets/img/under__navigator.png" )  ;
    background-size: cover;
    border-radius: 10px;
}

.content__lead-empty {
    min-height: 584px;
}

.content__lead-title {
    min-width: 1144px;
    min-height: 148px;
    top: 403px;
    left: 28px;
    gap: 20px;
    
    font-family: Geist;
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #4A5841;
    padding: 68px 16px 8px 84px;
};

.lead__title {
    width: 491px;
    height: 76px;
}

.lead__title-span {
   margin: 20px 20px 20px 0px;
}

.lead__button {
    width: 182px;
    height: 40px;
    padding: 8px 16px 18px 12px;
    opacity: 2px;
    border-radius: 38px;
    border: 2px;
    gap: 8px;
    border: 2px solid #4A5841;
    background-color: rgba(28,28,28,0);
    font-family: Geist;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.content__lead-down {
    height: 150px;
}



.content__carusel-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 384px;
    height: 384px;
    padding: 28px;
    border-radius: 10px;
    gap: 10px;
    background-color: #4A5841;
}

.content__carusel-hair {

}

.category_section {
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;

}

.category_card {
    width: 32%;
    max-width: 384px;
    height: 385px;
    position: relative;
    margin-right: 24px;
}

.img_child_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.img_child_container >  a  {
    position: absolute;
    bottom:22px ;
}

.img_child_container > button {
    position: absolute;
    bottom: 22px;
}

.img_child_container >  img  {
     width: 100%;
    height: 100%;
}

.green_child_container {
    position:absolute;
    top: 0;
    left:0 ;
    background-color: #4A5841;
    width: 100%;
    height: 100%;
    transition: all .7s;
}

.green_child_container > p {
    color: #fff;
}

.green_child_container:hover ,  .category_card:hover .green_child_container  {
    display: none;
    opacity: 0;
}

/* .btn btn-primary {
    background-color: ;
    color: #A8B79E;
} */

.category__card-btn {
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    border-radius: 38px;
    border: 2px;
    gap: 8px;
}

.category_card-btn  {
    margin-top: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.category__card-inner,.category__card-img  {
    margin: 10px;
    color:#A8B79E;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.category__sellers {
    min-width: 1032px;
    min-height: 91px;
    padding: 20px 28px 20px 28px;
    border-radius: 7px;
    background-color: #F2F4F0;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
    color:#637557;
    font-family: Geist;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.category__sellers-arrow > img{
    margin: 1px 1px -3px 10px;
}

/* .card1 {
    width: 282px;
    height: 368px;
    border-radius: 10px;
    border: 1px;
} */

.main__content1 {
    
    flex: 1;
}

.cards__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 34px;
    /* margin: 0 -10px; */
    margin-right: -6px;
    margin-left: -16px;
    margin-top: 30px;
    border-radius: 40px;
}


.card1 {
    min-width: 21.5%;
    padding: 0 10px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #E5E9E2;
    border-radius: 13px;
}

.card__inner-name {

}

.card__inner {
    display: flex;
    justify-content: space-start;
}

.card_img {
    width: 100%;
}

.card1 .card__img {
    width: 100%;
}

.card__inner-pic {
    margin: 1px 10px 1px 1px;
}


.main__content-down {
    min-width: 1200px;
    min-height: 622px;
    padding: 25px;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.main__content-left {
    min-width: 588px;
    height: 630px;
    border: 1px;
    background-image: url("../assets/img/Rectangle\ 11.png");
    border: 1px solid #CAD4C4;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 1px 1px 1px 1px;
    border-radius:20px;
}

.main__content-right {
    min-width: 588px;
    height: 630px;
    border: 1px;
    background-image: url("../assets/img/Rectangle\ 12.png");
    border: 1px solid #CAD4C4;
    background-size: cover;
    object-fit: none;
    overflow: hidden;
    display: block;
    border-radius:20px;

}

.content-pic {
    height: 147px;
    border-radius: 20px;
}

.content-pic:last-child {
    height: 140px;
    background: linear-gradient(180deg, rgba(150, 168, 138, 0) 0%, #96A88A 100%);
}

.content-pic-text {
    font-family: Geist;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 400px;
    color: #E6E5CC;
}

.view {
    margin: 197px 137px 17px 79px;
    min-width: 292px;
    min-height: 35px;
    padding: 8px 0px 8px 0px;
    border-radius: 39px;
    gap: 8px;
}

.more {
    min-width: 400px;
    display: inline-flex;
    margin: 11px 11px 1px 1px;
    color: #E6E5CC;

}

.more img {
    margin: 1px 1px 1px 22px;
}

/* block upper footer */
.main__location {
    min-width: 1200px;
    min-height: 250px;
    display: grid;
    border-radius: 8px;
    background-color:#EDEDED;
    margin-left: 25px;
    margin-right: 25px;
}




/* styles for footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; /* Расстояние между блоками на первой строке */
  margin-left: 50px;
  margin-right: 50px;
  min-width: 1280px;
  /* align-items: end; */
}

/* left footer block*/
.footer__block-1 {
  background-color: #96A88A;
  min-height: 306px;
  padding: 30px 28px 30px 28px;
  border-radius: 8px;
  display: grid;
  grid-column: 1fr 1fr;
  gap: 10px;
  margin-left: 25px;
}

.block_1 {
    width: 209px;
    height: 32px;
    font-family: Geist;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E6E5CC;
}


.block__1-title li {
    min-width: 509px;
    min-height: 18px;
    font-family: Geist;
    font-size: 14px;
    font-weight: 84;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E9E2;
    list-style-type: none;
    margin-top: 10px;
}

.block_2 {
    font-family: Geist;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #E6E5CC;
    margin-top: 100px;
}

.block__2-title {
    min-width: 98px;
    min-height: 20px;
    color: #E5E9E2;
    font-family: Geist;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    list-style-type: none;
    margin-top: 9px;
}

.block__2-title li {
    display: inline-block;
}

/* right footer block */

.footer__block-2 {
  background-color: #F2F3F2;
  min-height: 306px;
  padding: 50px 28px 30px 28px;
  border-radius: 8px;
  gap: 4px;
  margin-right: 25px;
  
}

/* form on right block in footer */
.footer__block-2 > form {
  display:grid;
  min-width: 532px;
  min-height: 246px;
  grid-template-rows: 24px;
  justify-content: end;
  align-content: normal;
  align-items: end;
  justify-items: end;
}

.footer__inner-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}



.footer__form-input {
    width: 398px;
    height: 58px;
    border: 1px solid #CAD4C4;
    border-radius: 4px;
}

/* placeholder in input for footer__block-1 */
#datepicker::-webkit-input-placeholder {
    color:#CAD4C4;
    text-align: end;
    font-family: Geist;
    font-size: 14px;
    font-weight: 84;
    line-height: 18px;
    letter-spacing: 0em;
    position: relative;
    right: 10px;
}

/* button for input type email */
.footer__form-button {
    background-color: #A8B79E;
    border: none;
    width: 134px;
    height: 59px;
    gap: 10px;
    color: #E6E5CC;
    font-family: Geist;
    font-size: 16px;
    font-weight: 84;
    line-height: 20px;
    letter-spacing: 0em;
}

/* style for Send an E-mail Us */
.footer__form label:first-child {
    color: #637557;
    font-family: Geist;
    font-size: 24px;
    font-weight: 84;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    width: 532px;
    height: 36px;
    margin: 10px 0px 0px 48px;
}


/* style for text in right block in upper footer */
.footer__form label:last-child {
    color:  #A8B79E;
    font-family: Geist;
    font-size: 14px;
    font-weight: 84;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    width: 532px;
    height: 36px;
    margin: -6px 0px 0px 48px;

}

/* style for under footer block */
.footer__block-3 {
  grid-column: 1 / span 2; /* Block 3 occupies two cells on the next line */
  display: flex;
  justify-content: space-between;
  background-color: #F2F4F0;
  margin: 0 24px 12px 23px;
  height: 55px;
  padding: 0px 28px 0px 28px;
  border-radius: 7px;
  align-items: center;
  color:#637557;
  min-width: 1200px;
}

.block__3-inner {
    display: inline-flex;
    margin: 2px;
}

.block__3-inner a {
    text-decoration: none;
}

.inner-privacy, .inner-privacy-ul li {
    margin-right: 25px;
    font-family: Geist;
    font-size: 14px;
    font-weight: 84;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.flegri-label a  {
    font-family: Geist;
    font-size: 14px;
    font-weight: 84;
    line-height: 18px;
    letter-spacing: 0em;
    text-decoration: none;
}

.flegri-label a:visited {
    color: #900060;
     /* color visited link */
}
.flegri-label a:active {
    color: #f00;
    /* color active link */
}

@media screen and (max-width: 430px ){
    .header {
        min-height: 217px;
    }
    
    .header__info{
        display:none;
    }


    .navigate__search {
        min-width: 328px;
    }

    .header__links {
        display: none;
    }
    
    .label {
        min-height: 39px;
        min-width: 103px;
    }
    .main__content-down {
        flex-direction: column;
    }
}


