@font-face {
  font-family: "geist";
  src: url("../../assets/fonts/Geist-Regular.otf");
}

* {
  font-family: "geist";
  margin: 0;
  padding: 0;
}

a,
.links-img,
a:hover {
  text-decoration: none !important;
  color: #cad4c4;
  cursor: pointer;
}
.header {
  min-height: 178px;
  padding: 0 16px 0 16px;
}

.header__info {
  display: flex;
  width: 100%;
  height: 26px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header__info-mobile {
  flex: 1 0 0;
  color: #cad4c4;
  font-family: Geist;
  font-size: 14px;
  font-style: normal;
  font-weight: 84;
  line-height: 18px; /* 128.571% */
}

.header__info-mobile a {
  text-decoration: none;
  color: #cad4c4;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.header__info-lang {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  gap: 10px;
  list-style-type: none;
  align-items: center;
}

.header__info-lang li {
  padding-right: 25px;
  margin-right: 5px;
  color: #cad4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
}

.header__info-lang li:not(:last-of-type) {
  border-right: 1px solid #cad4c4;
}

.header__info-lang li:not(:last-of-type) {
  border-right: 1px solid #cad4c4;
}

.header__navigate {
  display: flex;
  width: 100%;
  height: 85px;
  align-items: center;
}

.navigate__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  /* margin: 0 0 0 -32px; */
}

.label {
  background-image: url("../../assets/img/logo-1637743798\ 1.png ");
  min-width: 133px;
  min-height: 50.28px;
}

.label-heart {
  background-size: contain;
  /* min-width: 133px; */
  min-height: 50.28px;
  /* margin-left: 55px; */
}

.label img {
  display: none;
}

.label-card img {
  display: none;
}

.navigate__search {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.navigate__search-input {
  border-radius: 4px;
  border: 1px solid var(--stroke-100, #e5e9e2);
  background-color: #f9f9f9;
  padding: 1px;
  color: #a8b79e 500;
  display: flex;
  align-items: center;
  flex: 1 0 0;
  min-height: 43px;
  text-indent: 30px;
}

#search::-webkit-input-placeholder {
  color: #a8b79e;
  text-align: start;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0;
  position: relative;
  left: 30px;
}

.abc {
  position: relative;
  /* z-index: 1; */
  left: 60px;
  top: 15px;
  color: #a8b79e;
  width: 51px;
  height: 43px;
}

.navigate__icons {
  min-height: 28px;
  gap: 24px;

  cursor: pointer;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.icons-bag {
  background-image: url("../../assets/img/bag-shopping.png");
  background-size: cover;
  width: 18.67px;
  height: 21px;
  top: 3.5px;
  left: 4.67px;
  border: 2px;
}

.icons-heart {
  background-image: url("../../assets/img/heart.png");
  background-size: cover;
  width: 21px;
  height: 18.63px;
  top: 4.7px;
  left: 3.5px;
  border: 2px;
}

.icons-user {
  background-image: url("../../assets/img/user-alt-1.png");
  background-size: cover;
  width: 16.33px;
  height: 21px;
  top: 3.5px;
  left: 5.83px;
  border: 2px;
}

.header__links {
  background-color: #f2f4f0;
  border-radius: 7px;
  display: flex;
  height: 67px;
  padding: 20px 16px;
  justify-content: center;
  align-items: center;
}

.header__links {
  background-color: #f2f4f0;
  border-radius: 7px;
  display: flex;
  height: 67px;
  padding: 20px 16px;
  justify-content: center;
  align-items: center;
}

.links {
  margin: 2px;
  padding: 4px;
  list-style-type: none;
  display: flex;
  width: 100%;
}

.links > li {
  display: inline-block;
}

.links-img {
  background-image: url("../../assets/img//header__links/Frame\ \(1\).png");
  /* min-width: 20px;
  min-height: 20px; */
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.links-title {
  /* width: 233.6px;
  height: 20px; */
  flex: 1 0 0;
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

.links-img a,
.links-title a {
  text-decoration: none;
  color: #637557;
}

.links-title a:hover {
  text-decoration: none;
  color: #637557;
}
.header__under {
  min-height: 65px;
  min-width: 128px;
}

.header__under-links {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 100%;
  margin: 10px 0px 10px 0px;
  gap: 10px;
  list-style-type: none;
  align-items: center;
}

.header__under-links li {
  color: #cad4c4;
  padding-right: 21px;
  margin-right: 12px;
}

.header__under-links li:not(:last-of-type) {
  border-right: 1px solid #637557;
}

.info-links {
  flex-shrink: 3;
}

.info-links a {
  text-decoration: none;
}

.header__under-links a {
  color: #637557; /* Цвет текста по умолчанию */
}

.header__under-links:hover a {
  color: #637557;
}

.header__info-mobile a,.header__info-mobile a:hover,
.info-links a:active, /* активная/посещенная ссылка */
.info-links a:hover,  /* при наведении */
.info-links:nth-child(2)  a.text {
  text-decoration: none;
  color: #a8b79e;
}

.links-img a,
.links-title a {
  text-decoration: none;
}

.links-title a {
  color: #637557;
}

.links-title :hover {
  color: #637557;
}

/* content */

.category__sellers-arrow a {
  text-decoration: none;
}

.info-links a {
  text-decoration: none;
}

.info-links a.text:active, /* активная/посещенная ссылка */
.info-links a.text:hover,  /* при наведении */
.info-links a.text {
  text-decoration: none;
  color: #a8b79e;
}

.category__sellers {
  min-width: 1032px;
  min-height: 91px;
  padding: 20px 28px 20px 28px;
  border-radius: 7px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  color: #a8b79e;
  font-family: Geist;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.category__sellers-arrow > img {
  margin: 1px 1px -3px 10px;
}

/* .card1 {
    width: 282px;
    height: 368px;
    border-radius: 10px;
    border: 1px;
} */

.main__content1 {
  flex: 1;
}

.main__img {
  border: 1px solid transparent;
  /* min-width: 1200px; */
  min-height: 559px;
  top: 243px;
  left: 40px;
  border-radius: 10px;
  background-image: url("../../assets/img/about__us-main.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.main__img-btn {
  margin-left: 20px;
  margin-bottom: 30px;
}

.main__img-btn p {
  width: 338px;
  height: 148px;
  top: 289px;
  left: 28px;
  color: #e6e5cc;
  font-family: Geist;
  font-size: 70px;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  word-wrap: break-word;
}

.main__img-btn button {
  color: #4a5841;
  width: 182px;
  height: 40px;
  top: 466px;
  left: 28px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 34px;
  gap: 10px;
  outline: none;
}

.main__img-btn button:hover {
  outline: none;
}

.font-weight-bold {
  color: #637557;
  font-family: Geist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
}

.col__text {
  border-radius: 10px;
  color: #637557 !important;
  background: #f2f4f0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  flex-shrink: 0;
}

.col__text-up:first-child {
  color: #637557 !important;
  /* min-height: auto; */
  width: 100%;
  margin-top: 20px;
}

.col__text-up:nth-child(2) {
  color: #637557 !important;
  padding-bottom: 20px;
  background: #f2f4f0;
  width: 100%; /* 100% */
}

.col__text-inner {
  min-height: 100px;
  background: #f2f4f0;
}

.col__text-block:first-child {
  min-width: 100%;
  min-height: 22px;
  font-family: Geist;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 5px;
  margin-left: 1px;
  color: #637557;
}



.blocks-parent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 100vh; 
}


.block1,
.block2 {
  width: 100%;
  height: 50%;
  border-radius: 7px;
  background-size: cover;
}

.block1 {
  margin-bottom: 20px;
}
.block2 {
  margin-top: 20px;
}




/* .block1 {
  min-width: 100%;
  min-height: 486px;
  top: 832px;
  left: 754px;
  border-radius: 7px;
  background-image: url("../../assets/img/about_us-block-up-img.png");
  background-size: cover;
  margin-top: 20px;
}

.block2 {
  min-width: 100%;
  min-height: 486px;
  top: 832px;
  left: 754px;
  border-radius: 7px;
  background-image: url("../../assets/img/about_us-block-down-img.png");
  background-size: cover;
  margin-top: 120px;
}

.block1, .block2 {   
  background-size: cover;
}

 */
/* styles for footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; /* Расстояние между блоками на первой строке */
  margin-left: 8px;
  margin-right: 15px;
  /* min-width: 100%; */
  /* align-items: end; */
}

/* left footer block*/
.footer__block-1 {
  background-color: #96a88a;
  min-height: 306px;
  padding: 30px 28px 30px 28px;
  border-radius: 8px;
  display: grid;
  grid-column: 1fr 1fr;
  gap: 10px;
  margin-left: 25px;
}

.block_1 {
  min-width: 100%;
  height: 32px;
  font-family: Geist;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #e6e5cc;
}

.block__1-title li {
  min-width: 509px;
  min-height: 18px;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #e5e9e2;
  list-style-type: none;
  margin-top: 10px;
}

.block_2 {
  font-family: Geist;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #e6e5cc;
  margin-top: 100px;
}

.block__2-title {
  min-width: 100%;
  min-height: 20px;
  color: #e5e9e2;
  font-family: Geist;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  margin-top: 9px;
}

.block__2-title li {
  display: inline-block;
}

/* right footer block */

.footer__block-2 {
  background-color: #f2f3f2;
  min-height: 306px;
  padding: 50px 28px 30px 28px;
  border-radius: 8px;
  gap: 4px;
  margin-right: 25px;
}

/* form on right block in footer */
.footer__block-2 > form {
  display: grid;
  min-width: 532px;
  min-height: 246px;
  grid-template-rows: 24px;
  justify-content: end;
  align-content: flex-start;
  align-items: end;
  justify-items: end;
  grid-template-rows: 24px;
}

.footer__inner-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer__form-input {
  min-width: 398px;
  min-height: 58px;
  border: 1px solid #cad4c4;
  border-radius: 4px;
}

.footer__form-input {
  outline: none;
}

/* placeholder in input for footer__block-1 */
#datepicker::-webkit-input-placeholder {
  color: #cad4c4;
  text-align: end;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  position: relative;
  right: 10px;
}

#datepicker,
#datepicker:hover {
  outline: none;
  border: none;
}

input {
  outline: none;
}

/* button for input type email */
.footer__form-button {
  background-color: #a8b79e;
  border: none;
  min-width: 134px;
  min-height: 59px;
  gap: 10px;
  color: #e6e5cc;
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0em;
  outline: none;
  display: grid;
  align-items: center;
}

/* style for Send an E-mail Us */
.footer__form label:first-child {
  color: #637557;
  font-family: Geist;
  font-size: 24px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  width: 100%;
  min-height: 36px;
  margin: 10px 0px 0px 48px;
}

/* style for text in right block in upper footer */
.footer__form label:last-child {
  color: #a8b79e;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  min-width: 532px;
  min-height: 36px;
  margin: 23px 0px 0px 48px;
}

/* style for under footer block */
.footer__block-3 {
  grid-column: 1 / span 2; /* Block 3 occupies two cells on the next line */
  display: flex;
  justify-content: space-between;
  background-color: #f2f4f0;
  margin: 0 24px 12px 23px;
  min-height: 55px;
  padding: 0px 28px 0px 28px;
  border-radius: 7px;
  align-items: center;
  color: #637557;
  /* width: 100%; */
}

.block__3-inner {
  display: flex;
  justify-content: space-around;
  /* margin: 2px; */
}

.block__3-inner a {
  text-decoration: none;
}

.list {
  margin-bottom: 0rem !important;
}

.block__3-inner div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
}

.inner-privacy,
.inner-privacy-ul li {
  margin-right: 25px;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  list-style-type: disc;
}

.inner-privacy-ul a {
  display: flex;
  align-items: center;
}

.flegri-label a {
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #4a5841;
}

.list {
  margin-bottom: 0rem !important;
}

.header__info-mobile a,
.header__info-mobile a:hover,
.header__info-mobile a:active {
  color: #cad4c4;
  text-decoration: none;
}

.flegri-label a:visited,
.flegri-label a:hover,
.inner-privacy a:visited,
.inner-privacy a:hover,
.inner-privacy a,
.list a,
.list a:hover {
  color: #637557;
  text-decoration: none;
  /* color visited link */
}
.flegri-label a:active,
.inner-privacy a:active,
.inner-privacy-ul a {
  color: #637557;
  /* color active link */
}

@media screen and (max-width: 430px) {
  .header {
    min-height: 217px;
  }

  .header__info {
    display: none;
  }

  .navigate__search {
    min-width: 100%;
  }

  .header__links {
    display: none;
  }

  .label {
    min-height: 39px;
    min-width: 100%;
  }

  .header__under-links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .header__under-links li:not(:last-of-type) {
    border-right: none;
    margin-bottom: 10px;
  }

  .main__content-down {
    flex-direction: column;
  }
}
