@font-face {
  font-family: "geist";
  src: url("../../assets/fonts/Geist-Regular.otf");
}

* {
  font-family: "geist";
  margin: 0;
  padding: 0;
}

a,
a.hover,
a.active {
  text-decoration: none;
  color: #637557;
}

.header {
  min-height: 178px;
  padding: 0 16px 0 16px;
}

.header__info {

  display: flex;
  width: 100%;
  height: 26px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header__info-mobile {
  flex: 1 0 0;
  color: #cad4c4;
  font-family: Geist;
  font-size: 14px;
  font-style: normal;
  font-weight: 84;
  line-height: 18px; /* 128.571% */
}

.header__info-mobile a {
  text-decoration: none;
  color: #cad4c4;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.header__info-lang {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  gap: 10px;
  list-style-type: none;
  align-items: center;
}

.header__info-lang li {
  padding-right: 25px;
  margin-right: 5px;
  color: #cad4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
}

.header__info-lang li:not(:last-of-type) {
  border-right: 1px solid #cad4c4;
}

.header__info-lang {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 0px;
  gap: 10px;
  list-style-type: none;
  align-items: center;
}

.header__info-lang li {
  padding-right: 25px;
  margin-right: 5px;
  color: #cad4c4;
}

.header__info-lang li:not(:last-of-type) {
  border-right: 1px solid #cad4c4;
}

.header__navigate {
  display: flex;
  width: 100%;
  height: 85px;
  align-items: center;
}

.navigate__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  /* margin: 0 0 0 -32px; */
}

.label {
  background-image: url("../../assets/img/logo-1637743798\ 1.png ");
  min-width: 133px;
  min-height: 50.28px;
}

.label-heart {
  background-size: contain;
  /* min-width: 133px; */
  min-height: 50.28px;
  /* margin-left: 55px; */
}

.label img {
  display: none;
}

.label-card img {
  display: none;
}

.navigate__search {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.navigate__search-input {
  border-radius: 4px;
  border: 1px solid var(--stroke-100, #e5e9e2);
  background-color: #f9f9f9;
  padding: 1px;
  color: #a8b79e 500;
  display: flex;
  align-items: center;
  flex: 1 0 0;
  min-height: 43px;
  text-indent: 30px;
}

#search::-webkit-input-placeholder {
  color: #a8b79e;
  text-align: start;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0;
  position: relative;
  left: 30px;
}

.abc {
  position: relative;
  /* z-index: 1; */
  left: 60px;
  top: 15px;
  color: #a8b79e;
  width: 51px;
  height: 43px;
}

.navigate__icons {
  min-height: 28px;
  gap: 24px;

  cursor: pointer;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.icons-bag {
  background-image: url("../../assets/img/bag-shopping.png");
  background-size: cover;
  width: 18.67px;
  height: 21px;
  top: 3.5px;
  left: 4.67px;
  border: 2px;
}

.icons-heart {
  background-image: url("../../assets/img/heart.png");
  background-size: cover;
  width: 21px;
  height: 18.63px;
  top: 4.7px;
  left: 3.5px;
  border: 2px;
}

.icons-user {
  background-image: url("../../assets/img/user-alt-1.png");
  background-size: cover;
  width: 16.33px;
  height: 21px;
  top: 3.5px;
  left: 5.83px;
  border: 2px;
}

  .header__links {
    background-color: #f2f4f0;
    border-radius: 7px;
    display: flex;
    height: 67px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
  }

.header__links {
  min-height: 67px;
  min-width: 1280px;
  padding: 6px 1px 12px 0px;
  border-radius: 7px;
  background-color: #f2f4f0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5px;
  margin-left: -3px;
}

.links {
  margin: 2px;
  padding: 4px;
  list-style-type: none;
  display: flex;
  width: 100%;
}

.links > li {
  display: inline-block;
}

.links-img {
  background-image: url("../../assets/img//header__links/Frame\ \(1\).png");
  /* min-width: 20px;
  min-height: 20px; */
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.links-title {
  /* width: 233.6px;
  height: 20px; */
  flex: 1 0 0;
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}


.links-title a {
  color: #637557;
}

.links-title :hover {
  color: #637557;
}

.header__under {
  width: 100%;
  height: 100%;
  display: flex;
justify-content: flex-end;
align-items: center;
gap: 12px;
flex: 1 0 0;
align-self: stretch;

}

.header__under-links {
  display: flex;
  justify-content: end;
  margin: 10px 0px 10px 0px;
  gap: 10px;
  list-style-type: none;
  align-items: center;
  
}

.header__under-links li {
  color: #cad4c4;
  padding-right: 21px;
  margin-right: 12px;
}

.header__under-links li:not(:last-of-type) {
  border-right: 1px solid #cad4c4;
}

.header__under-links a {
  color: #637557; /* Цвет текста по умолчанию */
}




.info-links a {
  text-decoration: none;
}

.info-links a:active, /* активная/посещенная ссылка */
.info-links a:hover,  /* при наведении */
.info-links a {
  text-decoration: none;
  /* color: #637557; */
}

.links-img a,
.links-title a,
.links-img a:hover,
.links-title a:hover {
  text-decoration: none;
}

/* content */

.category__sellers-arrow a {
  text-decoration: none;
}

.category__sellers {
  min-width: 21.5%;
  min-height: 91px;
  padding: 20px 28px 20px 28px;
  border-radius: 7px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #637557;
  font-family: Geist;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

#my__accordion:focus {
  border-color: #637557 !important;
}

.accordion-button:focus{
  box-shadow: none !important; 
}

.accordion-button:not(.collapsed),
#my__accordion,
.accordion-button:not(.collapsed):hover {
  background: #f2f4f0 !important;
  width: 100%;
  height: 91px;
  padding: 20px 28px 20px 28px;
  border-radius: 7px;
}


.accordion__common {
  width: 100% !important;
}
.category__sellers-arrow > img {
  margin: 1px 1px -3px 10px;
}

.column__content-inner {
  /* min-width: 1200px;
  min-height: 439px; */
  display: flex;
  justify-content: space-evenly;
  /* top: 358px;
  left: 40px; */
  padding: 28px;
  border-radius: 10px;
  gap: 24px;
  background-color: #f2f4f0;
}

.column__img {
  background-image: url("../../assets/img/the-youth-elixir-hand-cream-with-donkey-milk.png");
  background-size: cover;
  min-width: 453px;
  min-height: 383px;
}

.column__content {
  width: 667px;
  height: 338px;
  gap: 28px;
}

.title__heart-name {
  font-family: Geist;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
}

.title__heart {
  display: flex;
  justify-content: space-between;
}

.title__heart img {
  top: 6.72px;
  left: 5px;
  border: 2px;
}

.content__title-star {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.content__title-star p {
  font-family: Geist;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
}

/* .content__title-star div:nth-child(2) {
  display: flex;
  align-items: center;
} */

.content__title-r {
  color: #4a5841;
  margin-left: 5px;
}
.content__title-price {
  display: flex;
  justify-content: flex-end;
  font-family: Geist;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.content__title-code {
  font-family: Geist;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
}

.content__title-text {
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
  min-width: 525px;
  min-height: 36px;
}

.content__title-text p:last-child {
  border-bottom: none;
}

.content__title-volume {
  color: #4a5841;
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  width: 99px;
  height: 28px;
  padding: 4px 8px 4px 8px;
  border-radius: 21px;
  gap: 10px;
  background-color: #e5e9e2;
}

.content__iterrator-button {
  display: flex;
  justify-content: space-between;
  min-width: 116px;
  min-height: 40px;
  padding: 4px 8px 4px 8px;
  border-radius: 72px;
  gap: 8px;
}

.content__button button {
  border: 2px solid #4a5841;
  background-color: #4a5841;
  min-width: 523px;
  min-height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 38px;
  border: 2px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: space-betwen;
  align-items: center;
  color: #f7f6ee;
}



.button-buy {
  font-size: 16px;
}

.content__iterrator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 116px;
  min-height: 40px;
  padding: 4px 8px 4px 8px;
  border-radius: 72px;
  border: 1px;
  gap: 8px;
  border: 1px solid #4a5841;
}

.iter-minus,
.iter-plus {
  min-width: 28px;
  min-height: 28px;
  padding: 3px;
  border-radius: 44px;
  gap: 10px;
  background: #a8b79e;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color:  #E6E5CC;
}

.row__inner {
  min-width: 1200px;
  min-height: 91px;
  padding: 20px 28px 20px 28px;
  border-radius: 7px;
  background-color: #f2f4f0;
}

/* menu dropdown */

.flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.accordion-button,.accordion-item,
.accordion-button:not(.collapsed),
#my__accordion:focus,
#my__accordion:hover,
#my__accordion:active,

.accordion-button:focus ,
.accordion-collapse .collapse .show,
.accordion-button {
  border-color: #FBFBFB  !important;
  /* background-color:  #FBFBFB  !important; */
  outline: none;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
  outline: none;
}

.item1 {
  /* display: block; */
  cursor: pointer;
  font-family: Geist;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
  display: flex;
  justify-content: center;
}

.item1 p {
  padding: 6px 8px 0px 8px;
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
}

.item2 {
  display: block;
  min-width: 32px;
  min-height: 32px;
  padding: 0px 8px 0px 8px;
}

.fa {
  min-width: 32px;
  min-height: 32px;
  padding: 0px, 8px, 0px, 8px;
}

.fa-button {
  min-height: 91px;
  display: flex;
  color: #f2f4f0;
}
.custom-dropdown-toggle {
  background-color: none; /* Цвет фона */
  color: #637557; /* Цвет текста */
  border: none; /* Обводка */
  margin-top: 20px;
}

.empty {
  /* background-color: #f4f1f0; */
  padding: 32px 0px 16px 0 !important;
}
.accordeon1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 268px;
  gap:  0 24px !important;
  border-radius: 45px !important;
}

.accordeon1-inner {
  width: 25%;
  /* height: 268px; */
  border-radius: 8px;
  position: relative;
  display: inline-block;
}

.custome,.cutomer {
  background-color: #f2f4f0  !important;
}

.custome {
  border-radius: 0 10px !important;
}

.customer {
  padding: 32px 0px 16px 0 !important;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: #96a88a important!;
  border-radius: 8px;
}

.accordeon1-inner img {
  /* min-width: 282px;
  min-height: 268px; */
  max-height: 100%;
  max-width: 100%;
}

.filter {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;

  background-color: #92b97740;
}

.dropdown__menu-list {
  width: 100%;
  min-height: 325px;
  display: flex;
  justify-content: left;
  padding: 16px;
  border-radius: 10px;
  gap: 18px;
  background-color: #f2f4f0;
  border: none !important;
}

.dropdown__menu-list li {
  font-family: Geist;
  font-size: 22px;
  font-weight: 84;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
}

.menu-reviews {
  /* min-width:  1200px;
  min-height:  518px; */
  /* border-radius: 10px; */
  background: #f2f4f0;
}

.menu-reviews:last-child {
  display: flex;
  justify-content: flex-end;
}

.reviews-list {
  min-height: 36px;
  gap: 16px;
}

.reviews__list-inner {
  min-height: 112px;
  gap: 16px;
}

.content__title-text:last-child {
  border-bottom: none;
}

.list-inner p {
  margin-bottom: 0 !important;
}

.list-inner {
  font-family: Geist;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #637557;
 
}

.nobord {
  border-bottom: none;
}

.reviewsbutton {
  min-height: 40px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: #f2f4f0;
}

.menu-reviews {
  display: flex;
  justify-content: left;
   border-bottom: 2px solid #e5e9e2;
}

.menu-reviews:nth-child(3),.menu-reviews:last-child {
     border-bottom: none;

}

.content__title-text2 {
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
  white-space: wrap;
  width: 525px;
  height: 36px;
}

.button__inner {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  width: 228px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 38px;
  border: 2px solid #4a5841;
  gap: 8px;
  background: rgba(0, 0, 0, 0);
}

.reviews {
  color: #637557;
  font-family: Geist;
  font-size: 24px;
  font-weight: 84;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.moder,
.mody,
.modal-foot {
  background-color: #f2f4f0 !important;
  border-color: none !important;
  border-top: none!important;
}

.mody {
  padding-top: none !important;
}

.modal-header {
  border-color: none !important;
  border-bottom:none !important;
}

.modal .fade .show {
  backdrop-filter: blur(10px) #63755742 !important;
}

.mofo {
  display: none !important;
}

.modal__inner {
  min-width: 100%;
}

.modal__header-rank {
  display: flex;
}

.rank__title {
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
}

.rank__title span {
  color: brown;
}

.modal__header-rank {
  display: flex;
  min-width: 480px;
  height: 64px;
  gap: 12px;
  flex-direction: column;
}

.modal__header-name {
  width: 480px;
  height: 72px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.modal__header-name label,
.modal__header-name input {
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
}

.modal__header-name input {
  min-height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid #e5e9e2;
  margin-left: 1px;
  margin-right: 15px;
  color: #637557;
}

.modal__body {
  min-height: 187.27px;
  min-width: 480px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.modal__body-title {
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #637557;
}

.body__content-place {
  min-width: 469px;
  min-height: 123px;
  border-radius: 4px;
  border: none !important;
  outline: none;
  color: #b0bea7;
  padding:10px ;
}

.body__content-place::placeholder {
  font-family: 'Geist';
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #b0bea7 !important;
  margin-top: 5px !important;
}

.placeholder_color::placeholder {
  color: #b0bea7 !important;
}

.modal__body-content .body__content-place::placeholder {
  color: #63755742; /* Замените на нужный вам цвет */
}

.modal__body-content:hover {
  border: none !important;
}

.modal__body-button {
  border: 2px solid #4a5841;
  background-color: #4a5841;
  min-height: 40px;
  padding: 6px 15px 6px 11px;
  border-radius: 38px;
  border: 2px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: space-betwen;
  align-items: center;
  color: #f7f6ee;
  margin-right: 15px;
  cursor: pointer;
}

#arrowImage {
  color: #ffffff;
}

.modent {
  border-radius: 10px;
  box-shadow: 0.1px 0.1px 0.1px 0.1px #F2F4F0;
}

.mody__header-place::placeholder {
  color: #b0bea7 !important;
  margin-left: 5px !important;
}

.mody__header-place {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
.cards__items {
  min-height: 368px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  row-gap: 34px;
  /* margin: 0 -10px; */
  /* margin-right: -6px; */
  margin-left: -16px;
  margin-top: 30px;
  border-radius: 40px;
}

.card1 {
  min-width: 21.5%;
  padding: 0 10px;
  margin-left: 20px;
  margin-top: 5px;
  border: 1px solid #e5e9e2;
  border-radius: 13px;
}

.card__inner-name p:first-child {
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0em;
  color: #637557;
}

.card__inner-name p:nth-child(2) {
  font-family: Geist;
  font-size: 12px;
  font-weight: 84;
  line-height: 16px;
  letter-spacing: 0em;
  color: #637557;
}

.card__inner {
  display: flex;
  justify-content: space-start;
}

.card_img {
  width: 100%;
}

.card1 .card__img {
  width: 100%;
}

.card__inner-pic {
  margin: 1px 10px 1px 1px;
}

.card__inner-r,
.card__inner-title {
  margin-bottom: 0 !important;
}

.card__inner-r {
  color: #4a5841;
}
/* styles for footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; /* Расстояние между блоками на первой строке */
  margin-left: 8px;
  margin-right: 15px;
  margin-top: 200px;
  min-width: 1280px;
  min-height: 454px;
  /* align-items: end; */
}

/* left footer block*/
.footer__block-1 {
  background-color: #96a88a;
  min-height: 306px;
  padding: 30px 28px 30px 28px;
  border-radius: 8px;
  display: grid;
  grid-column: 1fr 1fr;
  gap: 10px;
  margin-left: 25px;
}

.block_1 {
  width: 209px;
  height: 32px;
  font-family: Geist;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #e6e5cc;
}

.block__1-title li {
  min-width: 509px;
  min-height: 18px;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #e5e9e2;
  list-style-type: none;
  margin-top: 10px;
}

.block_2 {
  font-family: Geist;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #e6e5cc;
  margin-top: 100px;
}

.block__2-title {
  min-width: 98px;
  min-height: 20px;
  color: #e5e9e2;
  font-family: Geist;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  margin-top: 9px;
}

.block__2-title li {
  display: inline-block;
}

/* right footer block */

.footer__block-2 {
  background-color: #f2f3f2;
  min-height: 306px;
  padding: 30px 28px 30px 28px;
  border-radius: 8px;
  gap: 4px;
  margin-right: 25px;
}

/* form on right block in footer */
.footer__block-2 > form {
  display: grid;
  min-width: 532px;
  min-height: 246px;
  grid-template-rows: 24px;
  justify-content: end;
  align-content: normal;
  align-items: start;
  justify-items: end;
  min-width: 532px;
  min-height: 246px;
  grid-template-rows: 24px;
}

.footer__inner-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer__form-input {
  width: 398px;
  height: 58px;
  border: 1px solid #cad4c4;
  border-radius: 4px;
}

.send,
.list {
  margin-bottom: 0 !important;
}

/* placeholder in input for footer__block-1 */
#datepicker::-webkit-input-placeholder {
  color: #cad4c4;
  text-align: end;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  position: relative;
  right: 10px;
}

#datepicker,
#datepicker:hover {
    outline: none;
    border: none;
}

input {
    outline:none;
}


/* button for input type email */
.footer__form-button {
  background-color: #a8b79e;
  border: none;
  width: 134px;
  height: 59px;
  gap: 10px;
  color: #e6e5cc;
  font-family: Geist;
  font-size: 16px;
  font-weight: 84;
  line-height: 20px;
  letter-spacing: 0em;
}

/* style for Send an E-mail Us */
.footer__form label:first-child {
  color: #637557;
  font-family: Geist;
  font-size: 24px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  width: 532px;
  height: 36px;
  margin: 10px 0px 0px 48px;
}

/* style for text in right block in upper footer */
.footer__form label:last-child {
  color: #a8b79e;
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  width: 532px;
  height: 36px;
  margin: -6px 0px 0px 48px;
}

/* style for under footer block */
.footer__block-3 {
  grid-column: 1 / span 2; /* Block 3 occupies two cells on the next line */
  display: flex;
  justify-content: space-between;
  background-color: #f2f4f0;
  margin: 0 24px 12px 23px;
  height: 55px;
  padding: 0px 28px 0px 28px;
  border-radius: 7px;
  align-items: center;
  color: #637557;
  min-width: 1200px;
}

.block__3-inner {
  display: inline-flex;
  margin: 2px;
  text-decoration: none;
}

.block__3-inner a {
  text-decoration: none;
}

.inner-privacy,
.inner-privacy-ul li {
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.flegri-label a {
  font-family: Geist;
  font-size: 14px;
  font-weight: 84;
  line-height: 18px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #637557;
}

.flegri-label a:visited,
a,
.inner-privacy a:visited {
  color: #637557;
  text-decoration: none;
  /* color visited link */
}

a,
a:hover,
.flegri-label a:active,
.flegri-label a:hover,
.inner-privacy a:active,
.inner-privacy-ul a {
  color: #637557;
  text-decoration: none;
  /* color active link */
}


@media screen and (max-width: 768px) {
  .accordion1-inner {

  }
}