@media screen and (max-width: 480px) {
  .header {
    width: 50%;
  }
  .header__info {
    display: none;
  }

  .header__under {
    display: flex;
    justify-content: flex-end;
    padding-right: 2px;
    margin: 12px;
    color: #637557;
  }

  .header__under-links li:first-child {
    padding-right: 10px;
    margin-right: 0;
  }

  .header__under-links li {
    padding-right: 0;
    margin-right: 0;
  }

  .category__sellers {
    height: 88px;
    padding: 12px 24px;
    line-height: 15px;
    margin-top: 0;
    gap: 1px;
  }

  .category__sellers > div:first-child {
    font-size: 18px;
  }

  .category__sellers > div:last-child {
    font-size: 14px;
  }

  .row__block-upper {
    width: 100%;
  }

  .out {
    padding: 0 24px 0 24px ;
  }
  .col-left {
    min-width: 364px;
    min-height: 300px;
    background-color: #ffff;
  }

  .defpad {
    padding-right: 10px !important;
    padding-left: 17px !important;
  }

  .col__left-none {
    padding-left: 17px !important;
  }

  .col__upper-text {
    max-width: 600px;
    width: 100%;
    /* margin: 0 auto; */
  }

  .upper__text-inner {
    width: 382px;
    height: 226px;
  }

  .col__under-text {
    min-width: 381px;
    padding: 16px;
  }

  .col__upper-text {
    margin: none;
  }

  .under-text {
    width: 100%;
  }

  .col-right {
    flex-wrap: nowrap;
    align-items: center;
    padding: 24px;
  }

  .col__under-text .under-text p {
    color: #637557;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
  }

  .col__under-text .under-text li {
    width: 100%;
    color: #637557;
    font-family: Geist;
    font-size: 12px;
    font-style: normal;
    font-weight: 84;
    line-height: 16px;
  }
}
