@font-face {
  font-family: "geist";
  src: url("../../assets/fonts/Geist-Regular.otf");
}

* {
  font-family: "geist";
  margin: 0;
  padding: 0;
}.header__under {
   min-height: 65px;
  min-width: 128px;
}

.header__under-links {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin: 10px 0px 10px 0px;
  gap: 10px;
  list-style-type: none;
  align-items: center;
}

.header__under-links a,
.header__under-links a:hover,
.header__under-links a:active {
  padding-right: 21px;
  margin-right: 12px;
  text-decoration: none;
  color: #637557;
}

.header__under-links a:not(:last-of-type) {
  border-right: 1px solid #cad4c4;
}

.header__under-links a {
  color: #637557; /* Цвет текста по умолчанию */
}

.links-title a,
.links-title a:hover,
.links-title a:active {
  color: #637557;
  text-decoration: none;
}

.info-links a.text:active, /* активная/посещенная ссылка */
.info-links a.text:hover,  /* при наведении */
.info-links a.text {
  text-decoration: none;
  color: #637557;
}

.links-img a,
.links-title a {
  text-decoration: none;
}

/* content */

.category__sellers-arrow a {
  text-decoration: none;
}

.category__sellers {
  min-height: 91px;
  padding: 20px 28px 20px 28px;
  border-radius: 7px;
  background-color: #f2f4f0;
  display: flex;
  justify-content: space-between;
  margin: 20px 16px 20px 16px;
  margin-top: 50px;
  align-items: center;
}

.category__sellers div {
  flex: 1 0 0;
  flex-direction: row;
  color: #637557;
  font-family: Geist;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}



.column__img-inner_1,
.column__img-inner_2,
.column__img-inner_3,
.column__img-inner_4,
.column__img-inner_5,
.column__img-inner_6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 544px;
  border-radius: 8px;
  border: 1px;
  background: linear-gradient(0deg, #cad4c4, #cad4c4),
    linear-gradient(0deg, #f5f5f5, #f5f5f5);
  border: 1px solid #cad4c4;
}



.column__img-inner_1 {
  background-image: url("../../assets/img/Rectangle\ 11.png");
  background-size: cover;
}



.content-pic:last-child {
  height: 140px;
  background: linear-gradient(180deg, rgba(150, 168, 138, 0) 0%, #96a88a 100%);
  
}

.content-pic-text {
  font-family: Geist;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  color: #e6e5cc;
}

.view {
  margin: 127px 137px 0 21px;
  min-width: 100%;
  min-height: 35px;
  padding: 8px 0px 8px 0px;
  border-radius: 39px;
  gap: 8px;
}

.more {
  min-width: 400px;
  display: inline-flex;
  margin: 0px 12px 2px 1px;
  color: #e6e5cc;
}

.more img {
  margin: 1px 1px 1px 22px;
}

#my-image {
  filter: invert(94%) sepia(1%) saturate(3%) hue-rotate(0deg) brightness(100%)
    contrast(100%) hue-rotate(15deg);
  filter: brightness(0) invert(1) sepia(1) saturate(3) ;
}

.gap-for-blocks {
  margin-right: -35px !important;
}

.column__img-inner_2 {
  background-image: url("../../assets/img/about_us-block-down-img.png");
  background-size: cover;
}

.column__img-inner_3 {
  background-image: url("../../assets/img/blogs-patches.png");
  background-size: cover;
}

.column__img-inner_4 {
  background-image: url("../../assets/img/Rectangle\ 12.png");
  background-size: cover;
}

.column__img-inner_5 {
  background-image: url("../../assets/img/blogs_glass-pic.png");
  background-size: cover;
}

.column__img-inner_6 {
  background-image: url("../../assets/img/blogs-into-the-water.png");
  background-size: cover;
}


.card__img {
  width: 95px;
  height: 93px;
  border-radius: 4px;
  border: 1px;
}


